<!-- Semantic UI CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>

<!-- Favorite icon -->
<link rel="icon" href="/aegle/images/favicon.ico?v=2" />

<title>Aegle - Application health</title>
