<!doctype html>
<html lang="en">
  <head>
    <!-- Semantic UI CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>

    <!-- Favorite icon -->
    <link rel="icon" href="images/favicon.ico" />

    <title>Aegle - Application health</title>
  </head>
  <body>
    <div class="ui pointing menu">
      <div class="ui container">
        <div class="item"><img class="ui mini image" src="/images/heart_logo.png"></div>
        <a class="item" href="/"><i class="plus icon"></i> Home</a>
        <a class="item" href="/patients"><i class="address card icon"></i> Patients</a>
        <a class="item" href="/status"><i class="heartbeat icon"></i> Status</a>
      </div>
    </div>
    
    <div class="ui segment">
        <form class="ui form container" method="POST" action="/patients/{{id}}">
          <h4 class="ui dividing header">Patient Information</h4>
          <div class="fields">
            <div class="ten wide field">
              <label>Identifier</label>
              <input type="text" name="patientId" value="{{id}}" readonly />
            </div>
            <div class="three wide required field">
                <label>Heart rate</label>
                <input type="number" name="heartrate" min="1" value="{{heartRate}}" />
            </div>
            <div class="three wide field">
                <label>Units</label>
                <select class="ui simple dropdown" name="units" disabled>
                  <option value="seconds" selected>seconds</option>
                  <option value="minutes">minutes</option>
                  <option value="hours">hours</option>
                </select>
            </div>
          </div>
          <div class="field">
              <label>Description</label>
              <textarea rows="2" name="description" 
                {{#unless name}} placeholder="a description (or a very long name =P)"
                {{/unless}}>{{#if name}}{{name}}{{/if}}</textarea>
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
  </body>
</html>
