<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> menu }}    
    <div class="ui segment">
      {{> patientForm action="/aegle/patients" }}
    </div>
  </body>
</html>