<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> menu status="active"}}    
    
    <div class="ui segment">
      <div class="ui middle aligned animated selection list container">
          {{#each patientsStatus}}
            <div class="item">
              {{#if (equals health 'OK')}}
                <i class="ui middle aligned large olive check icon"></i>
              {{else if (equals health 'DEAD')}}
                <i class="middle aligned large red times icon"></i>
              {{else}}
                <i class="middle aligned large question icon"></i>
              {{/if}}
              <div class="content">
                <div class="header"><a href="">{{patientId}}</a></div>
                {{#if patientName}} {{patientName}} {{/if}}
              </div>
            </div>
          {{/each}}
      </div>    
    </div>
  </body>
</html>

